.userContainer{
    background-color: #1b203d;
    height: 100vh;
    font-family: sans-serif;
}
.main{
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
}
.head{
	padding:20px;
}
.colUser{
	width: 50%;
	float: left;
}
.profile{
	float: right;
	width: 160px;
    display: flex;
    align-items: center;
   
}
.profile p {
    margin-bottom: 0rem !important;
}
.userListSpan{
    font-size:30px;cursor:pointer; color: white;
}
.profileIcon{
    float: left;
    color: white;
}
.profile p{
	color: white;
	font-weight: 500;
	margin-left: 15px;
	font-size: 13.5px;
}
.adduserContainer{
    margin-left: 300px;
    padding: 30px;
    margin-top: 50px;
}
.panel1{
   
      background: #19182f;
      padding: 10px 10px 2px 22px;
  }
  .formTitle{
    color: white;
  }
  .addAddressButton{
    text-align: center;
    margin-top: 1rem;
  }