.blogContainer{
    background-color: #1b203d;
    height: auto;
    font-family: sans-serif;
}
.main{
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
}
.head{
	padding:20px;
}
.colUser{
	width: 50%;
	float: left;
}
.profile{
	float: right;
	width: 160px;
    display: flex;
    align-items: center;
   
}
.profile p {
    margin-bottom: 0rem !important;
}
.userListSpan{
    font-size:30px;cursor:pointer; color: white;
}
.profileIcon{
    float: left;
    color: white;
}
.profile p{
	color: white;
	font-weight: 500;
	margin-left: 15px;
	font-size: 13.5px;
}

.panel1{
    height: auto;
      background: #19182f;
      padding: 20px 20px 20px 20px;
  }
.blogData{
    margin-left: 300px;
    padding: 20px;
    font-size: 14px;
}
.title{
    color: gray;
    font-size: 16px;
  }
  .userName {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    font-style: normal;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
  }
  .userimage {
    color: #fff;
  }